.alignright {
    width: 30%;
    margin-left: auto;
    li {
        min-width: 30%;
        time {
            color: #666;
        }
        a {
            font-size: 2rem;
            color:#444;
        }
    }
}