@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,Verdana,sans-serif;
  color: #333;
  font-size: 1.2rem;
  background-color: #F9F5EC;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

header {
  width: 100%;
  height: auto;
  background-color: #fff;
}

header .site-logo {
  font-size: 2rem;
  padding: 3rem 4rem;
  float: left;
}

header .site-logo a {
  color: #333;
}

header #global-nav {
  width: 100%;
  background-color: #012563;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

header #global-nav:after {
  content: "";
  display: block;
  clear: both;
}

header #global-nav ul {
  width: 70%;
}

header #global-nav ul #menu-item-110, header #global-nav ul #menu-item-111, header #global-nav ul #menu-item-115, header #global-nav ul #menu-item-54, header #global-nav ul #menu-item-120, header #global-nav ul #menu-item-121 {
  width: 20%;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  float: left;
}

header #global-nav ul #menu-item-110 a, header #global-nav ul #menu-item-111 a, header #global-nav ul #menu-item-115 a, header #global-nav ul #menu-item-54 a, header #global-nav ul #menu-item-120 a, header #global-nav ul #menu-item-121 a {
  width: 100%;
  height: 100%;
  line-height: 50px;
  color: #ccc;
  display: block;
}

header #global-nav ul #menu-item-110 a:hover, header #global-nav ul #menu-item-111 a:hover, header #global-nav ul #menu-item-115 a:hover, header #global-nav ul #menu-item-54 a:hover, header #global-nav ul #menu-item-120 a:hover, header #global-nav ul #menu-item-121 a:hover {
  background-color: gray;
}

header #global-nav ul #menu-item-110 .sub-menu, header #global-nav ul #menu-item-111 .sub-menu, header #global-nav ul #menu-item-115 .sub-menu, header #global-nav ul #menu-item-54 .sub-menu, header #global-nav ul #menu-item-120 .sub-menu, header #global-nav ul #menu-item-121 .sub-menu {
  width: 100%;
  text-align: center;
  background-color: #012563;
  position: absolute;
  z-index: 100;
}

header #global-nav ul #menu-item-110 .sub-menu li a, header #global-nav ul #menu-item-111 .sub-menu li a, header #global-nav ul #menu-item-115 .sub-menu li a, header #global-nav ul #menu-item-54 .sub-menu li a, header #global-nav ul #menu-item-120 .sub-menu li a, header #global-nav ul #menu-item-121 .sub-menu li a {
  width: 100%;
  height: 100%;
  color: #ccc;
  line-height: 50px;
  padding: 1rem;
  display: block;
}

header #global-nav ul #menu-item-110 .sub-menu li a:hover, header #global-nav ul #menu-item-111 .sub-menu li a:hover, header #global-nav ul #menu-item-115 .sub-menu li a:hover, header #global-nav ul #menu-item-54 .sub-menu li a:hover, header #global-nav ul #menu-item-120 .sub-menu li a:hover, header #global-nav ul #menu-item-121 .sub-menu li a:hover {
  background-color: gray;
}

.mv img {
  width: 100%;
  height: 700px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #002562;
  text-align: center;
  letter-spacing: 1px;
  line-height: 50px;
  color: #fff;
}

#sidebar {
  width: 25%;
  height: 50%;
  background-color: #F4EBD8;
}

#sidebar .rss-link {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: .3rem;
  line-height: 40px;
  color: white;
  background-color: orange;
}

#sidebar .rss-link a {
  color: #fff;
}

#sidebar .sidebar-wrapper aside h1 {
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: .3rem;
  padding: 5%;
  text-align: center;
  background-color: lightgreen;
}

#sidebar .sidebar-wrapper aside li {
  padding: 8%;
  border-bottom: 1px dotted #888;
}

#sidebar .sidebar-wrapper aside li time {
  font-size: 1.5rem;
  color: #555;
}

#sidebar .sidebar-wrapper aside li h2 {
  font-size: 1.7rem;
  margin: 2rem 0;
}

#sidebar .sidebar-wrapper aside li p {
  font-size: 1.3rem;
  line-height: 1.2;
}

#sidebar .sidebar-wrapper aside li:last-child {
  border: none;
}

.contents {
  width: 100%;
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contents .archive-posts {
  width: 70%;
  height: auto;
  float: left;
  margin-right: 2rem;
  overflow: hidden;
}

.contents .archive-posts .result-empty {
  font-size: 2rem;
  padding: 5rem 0;
}

.contents .archive-posts .archive-title {
  text-align: center;
  padding: 2rem 0;
}

.contents .content {
  width: 70%;
  min-height: 5%;
  margin-right: 50px;
}

.contents .content-header {
  background-color: #F9F5EC;
}

.contents .content-header h1 {
  text-align: center;
  font-size: 3.8rem;
  padding: 2rem;
}

.contents .content .content-entry {
  padding: 5rem;
}

.contents .content .content-entry h1 {
  font-size: 4rem;
}

.contents .content .content-entry h2 {
  font-size: 3rem;
  padding: 3rem 1rem;
}

.contents .content .content-entry h3 {
  font-size: 2rem;
  padding: 2rem 0;
}

.contents .content .content-entry p, .contents .content .content-entry li {
  font-size: 1.5rem;
  line-height: 3;
  padding-left: 1rem;
}

.contents .content .content-entry .telephone {
  font-size: 2rem;
  padding-left: 2rem;
  line-height: 2;
}

.contents .content .content-entry table {
  min-width: 50%;
  margin: 3rem auto;
}

.contents .content .content-entry table tr th {
  min-width: 20%;
  font-size: 1.7rem;
  padding: 2rem;
  padding-left: 1.5rem;
  letter-spacing: .3rem;
  text-align: left;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: 1px solid #c1c1c1;
}

.contents .content .content-entry table tr td {
  min-width: 40%;
  font-size: 1.5rem;
  line-height: 1.5;
  vertical-align: middle;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #c1c1c1;
}

#comments {
  width: 100%;
  float: left;
}

#comments #comments-title {
  font-size: 3rem;
  padding: 3rem 0;
}

#comments h3 {
  font-size: 2rem;
  padding: 2rem 0;
}

#comments .avatar {
  width: 5rem;
  height: 5rem;
}

#comments .logged-in-as {
  font-size: 1.3rem;
  padding: .5rem 0;
}

#comments label {
  font-size: 1.4rem;
  padding: 1rem 0;
  display: block;
}

#comments #comment {
  width: 50%;
  font-size: 1.5rem;
  padding: 1rem;
}

#comments #submit {
  font-size: 3rem;
  margin-top: 3rem;
  padding: 2rem;
}

#comments .comment-meta {
  display: inline-block;
}

#searchform {
  min-width: 20%;
  padding-top: 3rem;
  float: right;
  display: block;
}

#searchform div .screen-reader-text {
  font-size: 1.5rem;
}

#searchform div input#s {
  width: 15rem;
  height: 3rem;
  font-size: 2rem;
  padding: .5rem;
}

#searchform div #searchsubmit {
  height: 3rem;
  background-color: #333;
  color: #fff;
  vertical-align: top;
}

.adjacent-post-links {
  width: 100%;
  float: left;
  display: block;
}

.adjacent-post-links ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adjacent-post-links ul .previous {
  font-size: 1.4rem;
  padding: 8rem 3rem;
  display: inline-block;
}

.adjacent-post-links ul .next {
  font-size: 1.4rem;
  padding: 8rem 3rem;
  display: inline-block;
}

.alignright {
  width: 30%;
  margin-left: auto;
  text-align: right;
}

.alignright li {
  min-width: 30%;
}

.alignright li time {
  color: #666;
}

.alignright li a {
  font-size: 2rem;
  color: #444;
}

.social-buttons {
  text-align: left;
  padding-left: 5rem;
}

.social-buttons li {
  display: inline-block;
  padding-left: 2rem;
}

.news {
  background-image: url("../../img/bg_news.png");
  padding: 3rem;
  margin-bottom: 5rem;
  border-radius: 5px;
}

.news .section-title {
  font-size: 2.5rem;
  margin: 3rem 0;
}

.news .news-line {
  padding: 1.5rem 0;
  border-bottom: 2px dotted #666;
}

.news .news-line .news-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.news .news-line .entry-date {
  color: #666;
  font-size: 1.5rem;
  padding: 3% 0;
  display: inline-block;
}

.news .news-line .news-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1.5;
}

.malls {
  padding: 3%;
  margin-bottom: 4rem;
}

.malls .section-title {
  font-size: 3rem;
  margin: 2rem 0;
}

.malls .mall-article {
  width: 45%;
  margin-right: 10%;
  margin-bottom: 3rem;
  float: left;
}

.malls .mall-article .mall-title {
  font-size: 2rem;
  padding: 1.5rem 0;
}

.malls .mall-article .mall-img {
  width: 100%;
  margin-bottom: 2rem;
  padding: .7rem;
  background-color: #fff;
}

.malls .mall-article .mall-text {
  font-size: 1.4rem;
  letter-spacing: .1rem;
  line-height: 1.4;
}

.malls .mall-article .link {
  margin-top: 2rem;
  text-align: right;
}

.malls .mall-article .link a {
  color: #666;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 7px;
}

.malls .mall-article .link a:hover {
  background-color: #f3f3f3;
}

.malls .mall-article:nth-child(odd) {
  margin-right: 0;
}

.malls .mall-article:nth-child(odd) {
  margin-right: 0;
}

.column {
  padding: 5%;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column-title {
  width: 100%;
  font-size: 2.5rem;
  margin: 3rem 0;
}

.column .link {
  font-size: 1.5rem;
  color: #333;
  display: inline-block;
}

.column .column-article {
  width: 50%;
  padding: 1%;
  padding-bottom: 5rem;
  overflow: hidden;
}

.column .column-article .column-left {
  width: 35%;
  height: 10rem;
  float: left;
}

.column .column-article .column-left img {
  width: 100%;
  height: 100%;
}

.column .column-article .column-right {
  width: 60%;
  padding-left: 8%;
  float: left;
}

.column .column-article .column-right h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.column .column-article .column-right time {
  padding: .6rem 0;
  display: inline-block;
}

.column .column-article .column-right .link {
  width: 100%;
  margin-top: 2rem;
  text-align: right;
}

.column .column-article .column-right .link a {
  color: #666;
  font-size: 1.3rem;
  padding: 3px;
}

.column .column-article .column-right .link a:hover {
  color: blue;
  text-decoration: underline;
}

.column .column-article .column-right p {
  line-height: 1.3;
}

.malls.page-mall {
  width: 70%;
  margin-right: 3rem;
  float: left;
}

.wpcf7-form table {
  width: 100%;
  margin: 3rem auto;
}

.wpcf7-form table tr {
  height: 3rem;
  background-color: gray;
}

.wpcf7-form table tr th {
  min-width: 35%;
  font-size: 1.4rem;
  padding: 5px;
  padding-left: 1.5rem;
  letter-spacing: .3rem;
  text-align: left;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: 1px solid #c1c1c1;
}

.wpcf7-form table tr th .require {
  font-size: 1.1rem;
  color: red;
  margin-top: .5rem;
  display: block;
}

.wpcf7-form table tr td {
  height: 2rem;
  padding-left: 0 !important;
}

.wpcf7-form table tr td input, .wpcf7-form table tr td textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #c1c1c1;
  border-bottom: none;
  font-size: 1.7rem;
  letter-spacing: .2rem;
  padding: 1rem;
}

.wpcf7-form table tr td textarea {
  border-bottom: 1px solid #c1c1c1;
}

.wpcf7-form p {
  text-align: center;
}

.wpcf7-form p .submit-m {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 300px;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 2rem;
  margin: 3rem auto;
  background-color: #333;
  border-radius: 5px;
  display: block;
}

.wpcf7-form p .submit-m:hover {
  background-color: #fff;
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

.error404 {
  background-color: skyblue;
  padding: 20rem;
}

.error404 h1 {
  font-size: 4rem;
  padding: 4rem;
  background-color: blue;
  color: white;
  text-align: center;
}

.error404 h2 {
  font-size: 3rem;
  padding: 4rem 2rem;
}

.error404 .content-404 {
  padding: 10rem 3rem;
}

.error404 .content-404 h3 {
  font-size: 2rem;
}

.error404 .content-404 ul {
  padding-bottom: 4rem;
}

.error404 .content-404 ul li {
  font-size: 2rem;
  padding: 1rem 0;
}

.content.archive {
  width: 90%;
  min-height: 10rem;
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 3rem;
}

.content.archive .attachment-large_thumbnail {
  width: 12rem;
  height: 12rem;
  margin-right: 3rem;
  float: left;
}

.content.archive .a-title {
  width: 60%;
  font-size: 2rem;
  padding: 2rem;
  display: block;
  float: left;
}

.content.archive .a-header .a-time {
  padding-bottom: 1rem;
  padding-left: 2rem;
  display: inline-block;
}

.content.archive .a-header .a-author {
  padding-left: 1rem;
  display: inline-block;
}

.content.archive .a-content {
  float: left;
  width: 70%;
}

.content.archive .a-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-left: 2rem;
}

#bread-crumb {
  width: 100%;
  height: 6rem;
  padding: 0 6rem;
  background-color: #F9F5EC;
  display: block;
  float: left;
}

#bread-crumb ul {
  overflow: hidden;
}

#bread-crumb ul li {
  min-width: 5%;
  float: left;
  font-size: 1.5rem;
  line-height: 6rem;
}

#bread-crumb ul li:not(:last-child):after {
  content: "＞";
  padding: 0 3rem;
  display: inline-block;
}

@media screen and (max-width: 479px) {
  header {
    background-color: #002462;
  }
  header .site-logo {
    padding: 2rem;
  }
  header .site-logo a {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    font-weight: normal;
  }
  header #global-nav {
    display: none;
  }
  #searchform {
    display: none;
  }
  .swiper-container.mv {
    display: none;
  }
  .mv_sp {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-image: url(../../img/ethan-hoover-7ZEVswRefRw-unsplash.jpg);
    background-size: cover;
    display: block;
  }
  .mv_tab {
    display: none;
  }
  .contents {
    padding: 0;
  }
  .contents .content {
    width: 100%;
  }
  .contents .content .news {
    width: 100%;
  }
  .contents .content .news .section-title {
    margin: 3rem auto;
    text-align: center;
  }
  .contents .content .malls {
    padding: 0;
  }
  .contents .content .malls .section-title {
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: center;
  }
  .contents .content .malls .mall-article {
    width: 100%;
    float: none;
    margin: 3rem auto;
    padding: 1rem;
  }
  .contents .content .column {
    padding: 0;
  }
  .contents .content .column .column-title {
    margin: 3rem auto;
    text-align: center;
  }
  .contents .content .column .column-article {
    width: 100%;
    float: none;
    padding: 1rem;
  }
  #sidebar {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  #global-nav ul #menu-item-110 a, #global-nav ul #menu-item-111 a, #global-nav ul #menu-item-115 a, #global-nav ul #menu-item-54 a, #global-nav ul #menu-item-120 a, #global-nav ul #menu-item-121 a {
    font-size: 1.3rem;
  }
  .contents {
    padding: 5%;
  }
  #sidebar {
    width: 35%;
  }
  .swiper-container.mv {
    display: none;
  }
  .mv_tab {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-image: url(../../img/michael-weidemann-oGhTfu1UrOY-unsplash.jpg);
    background-size: cover;
    display: block;
  }
  .malls .mall-article {
    width: 100%;
  }
  .column .column-article {
    width: 100%;
  }
}
/*# sourceMappingURL=load.css.map */