.content.archive {
    width: 90%;
    min-height: 10rem;
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 3rem;
    .attachment-large_thumbnail {
        width: 12rem;
        height: 12rem;
        margin-right: 3rem;
        float: left; // ***** clear
    }
    .a-title {
        width: 60%;
    font-size: 2rem;
    padding: 2rem;
    display: block;
    float: left;
    }
    .a-header {
        .a-time  {
            padding-bottom: 1rem;
            padding-left: 2rem;
            display: inline-block;
        }
        .a-author {
            padding-left: 1rem;
            display: inline-block;
        }
    }
    .a-content {
        float: left;
        width: 70%; // ***** clear
        p {
            font-size: 1.5rem;
            line-height: 1.5;
            padding-left: 2rem;
        }
    }
}
